
cpp_base/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/5/20/refactorings.history

cpp_base/.metadata/.lock

cpp_base/.metadata/.log

*.log

cpp_base/.metadata/.plugins/*

.gitignore.swp

cpp_base/BeerController/.settings/*

cpp_base/BeerController/.cproject

cpp_base/BeerController/.cproject

cpp_base/BeerController/.cproject

cpp_base/BeerController/.cproject

sensor_output/outputBeerLog.dat

cpp_base/BeerController/.cproject
